@use "./helper/mixins" as *;


header#top {
    grid-template-columns: auto auto 1fr auto;
    width: 100%;
    max-width: 100%;
    z-index: 160;
    position: sticky;
    top: 0;
    padding: var(--gap-sm-md);

    nav {
        &.header-nav {
            background: var(--secondary);
            position: fixed;
            width: 100vw;
            top: 0;
            left: 0;
            height: 100%;
            padding: 10rem;
            transform: translateX(-100%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) transform 1s;
        
            @include respond-to('from-md') {
                width: 50vw;
            }

            @include respond-to('from-lg'){
                padding: 20rem;
            }

            .menu {
                li.nav-links {
                    width: 100%;
                    a {
                        display: block;
                        font-family: var(--font-heading);
                        color: var(--text-light);
                        font-size: 2rem;
                        padding: 1rem 1.6rem;
                        width: 100%;
                        transition: all var(--transition);
                        transform-origin: left;

                        @include respond-to('from-md') {
                            font-size: 4rem;
                        }
                    }

                    &:nth-child(even) {
                        a {
                             transform-origin: right; 
                        }

                        &:hover, &:focus {
                            a {
                                 transform: rotate(-2deg);

                                 @include respond-to('from-md') {
                                    transform: rotate(-5deg);

                                 }
                            }
                        }
                    }

                    &:hover, &:focus {
                        a {
                             transform: rotate(2deg);

                             @include respond-to('from-md') {
                                transform: rotate(5deg);
                             }
                        } 
                    }
                }
            }

            &.active {
                transform: translateY(0);
                opacity: 1;
            }

            .menu-overlay {
                background: var(--overlay);
                position: absolute;
                pointer-events: none;
                opacity: 0;
                transition: opacity .3s ease;
                transform: translateX(-150%);
                top: 0;
                left: 100%;
                height: calc(100% + 2px);
                width: 500%;
                z-index: -2;
            }

            &:has(.menu.active) {
                .menu-overlay {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .utilities {
            display: flex;
            gap: var(--gap-md);
            flex-wrap: wrap;
            flex-direction: row;

            li {

                a {
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    
                    svg use {
                        fill: var(--background);
                        transition: all 1s ease-in-out;
                        transform-origin: center;
                        transform: rotate(0);
                        } 

                    &:hover, &:focus 
                        
                        svg {

                            use {
                                fill: var(--primary);
                                transform: rotate(1turn);
                            }
                        }
                    }
                }  
            }
        }
    }

