

#github-page:has(#user-data:checked) #user {
    display: block;
}
:has(nav ul.show-menu) body {
    overflow: hidden;
}

#top {

    h1 {
            font-size: clamp(2em, 10vw, 5em);
            text-align: center;
        }
    
    nav {
        

        ul {
            position: absolute;
            z-index: 1;
            padding: 4em;
            width: 100%;
            height: 100%;
            top: 0;
            transform: translateY(-200%);
            transition: all ease 0.5s;
            background: color(primary);

            &.show-menu {
                transform: translateY(0);

            }
        }
    }


}



/*Kleur van de tekst glijdt naar rechts naar een ander kleur */
nav {
    a {
        font-size: 4rem;
            font-weight: bold;
            margin: .3em 0;
        background-image: linear-gradient(to right,
                color(background),
                color(background) 50%,
                color(background-variation-1) 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all ease-in-out 0.3s;
        /* color: var(--donker-blauw); */

        &:hover, &:focus-within, &:active    {
                background-position: 0;
            }
    }
}


@media (min-width: 45rem) {
    #top {

        nav {

            ul {
                background-color: transparent;
                    background-image:
                        linear-gradient(180deg,
                            color(primary) 0 70%,
                            rgba(0, 0, 0, 0.499) 50%);
            }
        }
    }
}