@import "./helper/variabele";
@import "./helper/functions";

html {
    font-size: 62.5%; // Set default px to 10px, so 16px is 1.6rem
}

body {
    font-family: var(--algemene-tekst);
    color: color(text);
    background: color(background);
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        background: color(background);
    }

    &::-webkit-scrollbar-thumb {
        background: color(background-variation-1);
    }
}



.row {
    padding-bottom: 1.5rem;
}

.img-container {
    width: 100%;
    height: 100%;
    background: color(primary);
    border-radius: 1rem;
}

.quote {
    display: block;
    font-weight: bold;
    padding: 2em;
    font-size: clamp(1.5em, 2vw, 6em);
    text-align: center;
}

.position-text {
    display: inline-block;
    position: absolute;
    padding: 1em;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: color(background-variation-4);
    border-radius: 1em;

    &:hover {
        opacity: 1;
    }

    &:focus-within {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/************/
/* Homepage */
/************/

#home-page {
    label {
        background-color: var(--roze);
        color: var(--grijs);
        padding: .5em 1.5em;
        place-self: center;
    }


    .link-project {
        display: flex;
        justify-content: space-between;
        align-items: center;



    }
}

#user {
    padding: 3em 0;
    width: 100%;
    background-color: color(primary);

    article {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;


        img {
            border-radius: 1rem;
        }

        .name {
            font-weight: bold;
            font-size: clamp(1em, 3vw, 5em);
            margin-bottom: .3em;
        }

        .user-description {
            width: 70%;
            padding: 1.6rem 0;
        }

        a {
            margin-right: 1.6rem;
        }


    }
}

@media (min-width: 45rem) {
    #user {
        article {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            margin: 0 auto;

            img {
                width: 50rem;
            }

        }


    }

}

/*****************************/
/* RECENTE PROJECTEN SECTION */
/*****************************/


.thumbnail {
    position: relative;
    background-color: rgb(236, 196, 196);
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 0px 12px 20px color(background-variation-1);

    h3 {
        position: absolute;
        bottom: -1rem;
        background-color: color(background-variation-1);
        width: 100%;

        font-weight: bold;
        color: color(background);
        padding: .5rem;
        border-radius: 0 0 .5rem .5rem;
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }

    a {
        display: inline-block;
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
    }

    p {
        color: color(background-variation-1);
        line-height: 1.5;
        padding: 1.5rem;
        font-size: 1.8rem;
    }

    .position-text {}
}

@media (min-width: 45rem) {
    .thumbnail {
        flex-direction: row;

        img {

            width: inherit;
            height: 30rem;
        }

    }

}

.carrousel {
    article {
        border-radius: 1rem;
        box-shadow: 0px 12px 20px var(--donker-blauw);

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 1em;
        }

        a {
            display: inline-block;
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
        }

        h3 {
            position: absolute;
            bottom: -1rem;
            background-color: color(background-variation-1);
            width: 100%;

            font-weight: bold;
            color: color(text-light);
            padding: 1.6rem;
            border-radius: 0 0 .5em .5em;
        }




        .position-text {
            display: grid;
            place-items: center;
            align-items: center;
            width: 100%;

            p {
                font-size: 2.5rem;
                color: color(background-variation-1);
                line-height: 1.5;
                width: 70%;
                text-align: center;
                font-weight: bold;
            }


        }


    }

}


/****************/
/* PROJECT PAGE */
/****************/
#project-page {

    main {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10em;
        scroll-snap-type: y mandatory;

        .subtitle {
            font-size: 3rem;
        }

        .project-header {
            display: grid;
            // align-items: center;
            place-items: center;
            width: 100%;
            background-color: var(--roze);
            padding: 3em;

            article {
                place-self: center;
                width: 70%;

                /* Voor grotere schermen */
                /* De skills onder projecten */
                .skills {
                    font-size: 1.6rem;
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                    padding: 0;
                    margin-top: 2rem;



                    li {
                        padding: 1rem 2rem;
                        border-radius: 1rem;
                        background: color(background);
                    }
                }
            }

            img {
                width: 100%;

                &.digital-poster {
                    width: 40%;
                }


            }
        }


        .project-description {
            background-color: white;
            grid-template-columns: 2fr 1fr;
            padding: 1em;

            height: fit-content;

            gap: 3em;

            align-items: center;

            p {
                line-height: 1.7;

                span {
                    display: block;
                    margin: .8em 0;
                }
            }


            article {
                display: grid;
                place-self: top;

                .project-info {
                    display: flex;
                    gap: 2em;


                }


            }



        }

    }
}






/********************/
/* WAVING CHARACTER */
/********************/
.illustration {
    display: grid;
    place-items: center;
    align-items: center;
    background-color: var(--roze);
    position: relative;
    border-radius: 0.5em 0.5em 0 0;
}

/* Mij gezicht */
.face {
    transform: translateY(0rem);
    width: 80%;
}

/* Hand */
.hand {
    z-index: 1;
    width: 20%;
    position: absolute;
    right: -40%;
    bottom: -30%;

    filter: drop-shadow(-.1em .2em .2em var(--donker-blauw));
    animation: waving 2.5s infinite;
    transform-origin: bottom center;

    /* Je kan de anchor point aanpassen */
}


@keyframes waving {


    0% {

        transform: rotate(0.0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0.0deg);
    }

    100% {
        transform: rotate(0.0deg);
    }
}

/*************/
/* ABOUT ME */
/*************/
#over-mij {
    .row {
        justify-content: center;
    }

    section {

        &:nth-of-type(n+2) {
            margin: 3rem 0;

            h2 {
                text-align: center;
                padding: 2rem 0;
            }

            article {

                li {
                    background-color: color(background-variation-1);
                    color: color(text-light);
                    align-self: center;
                    padding: 1em 1.5em;
                    width: 15em;
                }
            }
        }
    }

    .about {

        &-header {
            padding: 3em;
            width: 100%;
            background: color(primary);

            img {
                width: 100%;
                height: auto;

                &.hand {
                    width: 20rem;
                    bottom: -10%;
                }
            }

        }

        &-description {

            article {

                img {
                    margin-bottom: 2rem;
                    margin-right: 0;
                    width: 100%;
                }

                .cv-buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1.8rem;
                    flex-wrap: wrap;
                }

            }

        }

        &-skills {
            article {

                figure {

                    ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        li {
                            font-size: 1.6rem;
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }

        &-hobbies {

            article {
                align-items: center;

                figure {

                    img {
                        width: 90%;
                    }
                }


                .hobby-list {
                    display: flex;

                    flex-wrap: wrap;
                    justify-content: center;
                    flex-direction: row;
                    gap: 1rem;

                    li {
                       text-align: center;
                    }
                }
            }
        }

        &-contact {
            .contact-container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                justify-content: center;

                article {
                    display: flex;
                        flex-direction: column;
                        background-color: var(--roze);
                        justify-content: center;
                        align-items: center;
                        color: var(--donker-blauw);
                        font-weight: bold;
                        padding: 1em;
                        gap: .5em;
                        border-radius: .5em;
                        transition: .3s ease-in-out;
                   
                        img {
                        width: 5rem;
                        height: 5rem;
                    }

                    a {
                        color: color(text);
                        font-weight: bold;
                    }

                    &:hover {
                        animation: zoom-in-out .5s ease-in-out infinite alternate both;
                    }
                }
            }
        }
    }

}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (min-width: 45rem) {
    body {
        nav {
            ul {
                background-color: transparent;
                    background-image:
                        linear-gradient(180deg,
                            var(--roze) 0 70%,
                            rgba(0, 0, 0, 0.499) 50%);
            }
        }
    }

    .project-header {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 70rem;
        width: 100%;
        background-color: var(--roze);


        article {
            place-self: center;
        }

        img {
            max-width: 78%;

            &[src="https://k3a101.github.io/Minor-portfolio/images/visie-china.png"] {
                max-width: 58%;
            }
        }


    }

    .project-description {
        display: grid;
        justify-content: center;
        background-color: white;
        grid-template-columns: 2fr 1fr;

        margin: 0 auto;
        height: fit-content;
        gap: 3em;
        width: 80%;
        align-items: center;

        article {
            max-width: 80%;

        }

        img {
            width: 80%;
        }
    }
 
    .hand {
        bottom: -10%;
        width: 20%;
    }

    #over-mij {
        section {

            &:nth-of-type(n+2) {
                p {
                    width: 30em;
                    padding: 1em;
                }
            }
        }

        .about {

            &-header {}

            &-description {

                article {
                    align-items: center;
                    justify-content: center;


                    img {
                        margin-bottom: 0;
                        margin-right: 2rem;
                        width: 40%;
                    }


                }
            }

            &-skills {}

            &-hobbies {}

            &-contact {
                .contact-container {

                    flex-direction: row;


                    article {
                    flex-direction: column;
                    }

                }
            }
        }

    }

}

@media(min-width: 90rem) {
    .wrapper {
        flex-direction: row;
    }

    #over-mij {


        .about {

            &-header {

                img {
                    // width: 30%;
                    height: auto;
                    
                    &.hand {
                        width: 20rem;
                        bottom: -10%;
                    }
                }
            }

            &-description {}

            &-skills {}

            &-hobbies {}

            &-contact {


                article {
                    display: flex;
                    flex-direction: column;
                }

            }
        }

    }
}

/**********/
/* FOOTER */
/**********/
#bottom {
    background: color(background-variation-1);
    color: color(text-light);
    padding: 1em;
    text-align: center;
    margin-top: 2em;

    p {
        font-size: 2rem;
        font-weight: bold;
    }

}