@use "./helper/mixins" as *;

html {
    font-size: 62.5%; // Set default px to 10px, so 16px is 1.6rem
    scroll-behavior: smooth;
}

body {
    font-family: var(--bodytext);
  

    &::-webkit-scrollbar {
        background: var(--background);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--background-variation-1);
    }
}

header#top,
footer#bottom,
.content-grid {
    --padding-inline: 3rem;
    --content-max-width: 123rem;
    --breakout-max-size: 134rem;
    --breakout-size: calc((var(--breakout-max-size) - var(--content-max-width)) / 2);
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
            [breakout-start] minmax(0, var(--breakout-size))
                [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
            minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];

    @include respond-to(up-to-sm) {
        --padding-inline: 1.5rem;
    }

    @include respond-to(from-xl) {
        --content-max-width: 120rem;
    }

    @include respond-to(from-xxl) {
        --breakout-max-size: 168rem;
    }

    &.two-third {
        --content-max-width: 108rem;
        --breakout-max-size: 128rem;
    }

    &.half {
        --content-max-width: 80rem;
        --breakout-max-size: 84rem;
    }

    > :not(.breakout, .full-width) {
        grid-column: content;
    }

    > .breakout {
        grid-column: breakout;
    }

    > .full-width {
        grid-column: full-width;
    }

    img.wrapper-background {
        grid-column: auto;
    }
}


