@use "./helper/mixins" as *;

html {
    font-size: 62.5%; // Set default px to 10px, so 16px is 1.6rem
    scroll-behavior: smooth;
    overflow: clip visible;
}

body {
    font-family: var(--font-body);
    color: var(--text);
    overflow: clip visible;
    background: var(--background);
  
}

header#top,
footer#bottom,
.content-grid,
.layout-grid {
    --padding-inline: 3rem;
    --content-max-width: 123rem;
    --breakout-max-size: 134rem;
    --breakout-size: calc((var(--breakout-max-size) - var(--content-max-width)) / 2);
    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
            [breakout-start] minmax(0, var(--breakout-size))
                [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end]
            minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];

    @include respond-to(up-to-sm) {
        --padding-inline: 1.5rem;
    }

    @include respond-to(from-xl) {
        --content-max-width: 120rem;
    }

    @include respond-to(from-xxl) {
        --breakout-max-size: 168rem;
    }

    &.two-third {
        --content-max-width: 108rem;
        --breakout-max-size: 128rem;
    }

    &.half {
        --content-max-width: 80rem;
        --breakout-max-size: 84rem;
    }

    > :not(.breakout, .full-width) {
        grid-column: content;
    }

    > .breakout {
        grid-column: breakout;
    }

    > .full-width {
        grid-column: full-width;
    }

    img.wrapper-background {
        grid-column: auto;
    }
}

main {
    // P-Y-<SIZE>
    // P-X-<SIZE>
        --p-size-s: 2.4rem;
        --p-size-m: 3rem;
        --p-size-l: 6rem;

    @include respond-to(from-lg) {
        --p-size-m: 6rem;
        --p-size-l: 12rem;
    }

    // Padding vertical
    .p-y {

        &-s {
            padding-block: var(--p-size-s);
        }

        &-m {
            padding-block: var(--p-size-m);
        }

        &-l {
            padding-block: var(--p-size-l);
        }
    }

    // Padding horizontal
    .p-x {

        &-s {
            padding-inline: 0;

            @include respond-to(from-sm) {
                padding-inline: var(--p-size-s);
            }
        }

        &-m {
            padding-inline: 0;

            @include respond-to(from-sm) {
                padding-inline: var(--p-size-m);
            }
        }

        &-l {
            padding-inline: 0;

            @include respond-to(from-sm) {
                padding-inline: var(--p-size-l);
            }
        }
    }
}




// Wave styling
[class*="no-tear"] {
    &::before,
    &::after {
        content: none;
    }
}
 
[class*="tear"] {
    position: relative;
    z-index: 10;
 
    &::before {
        content: '';
        mask-repeat: no-repeat;
        pointer-events: none;
        position: absolute;
        height: 100vw;
        mask-size: 100% 100%;
        top: 0;
        bottom: 0;
        background: var(--modal);
    }
}
 
[class*="tear-left"] {
    &::before {
        aspect-ratio: 71.29/1440;
        // mask-image: url(../svg/hero-shape.svg);
        mask-position: left top;
        left: calc(100% - 0.1rem);
        mask-size: cover;
 
    }
 
    &::after {
        transform: translateX(4rem) translateY(.2rem);
 
    }
}
 
[class*="tear-right"] {
    &::before {
        aspect-ratio: 71.29/1440;
        mask-image: url(../svg/masks/tear-right.svg);
        mask-position: right top;
        right: calc(100% - 0.1rem);
 
    }
}

@each $color in $colors {
  .has-#{$color}-color {
    color: var(--#{$color});
  }
}
@each $color in $colors {
  .has-#{$color}-background-color {
   background: var(--#{$color});
  }
}


.posts-grid {
   display: flex;
   flex-wrap: wrap;
   gap: var(--gap-sm);

   @include respond-to('from-sm') {
        display: grid;
        grid-template-columns: 1fr;
   }

   @include respond-to('from-md') {
        grid-template-columns: repeat(2, 1fr);
   }

   @include respond-to('from-lg') {
    grid-template-columns: repeat(3, 1fr);
   }
}


.projects-container {
    padding: var(--gap-lg);

    .card {
        display: flex;
        flex-direction: column;
        background: var(--background-light);
        border-radius: 1rem;
        height: 100%;

        picture {
            position: relative;
            overflow: hidden;
            border-radius: 1rem 1rem  0 0;
            background: var(--primary);
            aspect-ratio: 550 / 450;
            img {
                aspect-ratio: 550 / 450;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .thumbnail {
            width: 100%;
            height: 100%;

          a {
             padding: var(--gap-md);
            display: inline-flex;
            flex-direction: column;
            gap: var(--gap-sm);
            height: 100%;

            .button {
                margin-top: auto;
            }
          }
        }
    }
}

// Title and button container
.block-title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--gap-lg);

    @include respond-to('from-md') {
       flex-direction: row;
       align-items: center;
    }
}


.tags {
    padding: var(--gap-lg);

    h2 {
      margin-left: var(--gap-md);  
    }

    .tag-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap-sm);
        padding: var(--gap-md);


        li {
            display: flex;
            justify-content: center;
            align-items: center;
            border: .1rem solid var(--border);
            border-radius: .5rem;
            text-align: center;
            height: 4.8rem;
            justify-content: center;
            line-height: 2.4rem;
            max-width: 100%;
            padding: 0 2.5rem;
        }
    }
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-block: 3rem;
    
    @include respond-to('from-md') {
        flex-direction:  row;
    }

    .col-1 {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .col-2 {
        flex: 1;
    }

    &.wider-col {
        
        .col-1 {
            flex: 2;
        }

        .col-2 {
            flex: 1;
        }
    }
}

.square {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    .caption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-variation-4-low-opacity);

        time {
            font-weight: 700;
        }

        p {
           color: var(--secondary); 
        }
    }
}

footer#bottom {
    background: var(--secondary);
    padding-block: 5rem 0;
    margin-top: 5rem;
    color: var(--text-light);

    .footer-cols {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;

        @include respond-to('from-md') {
            grid-template-columns: repeat(2, 1fr);
        }

        .footer-col {
            .footer-heading {
                color: var(--primary);
            }

            p {
                width: 30rem;
                margin-block: 1.5rem;
            }

            .footer-menu {
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: inline-block;
                        color: var(--text-light);
                        font-size: 2rem;
                        padding: 1.5rem 0;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .copyright{
        margin-top: 5rem;

        ul {
            display: flex;
            justify-content: center;
            gap: 2rem;

            li {
                A {
                
                }
            }
        }
        
    }
}