@import "./helper/variabele";
@import "./helper/functions";
p,
h1,
h2,
a {
    font-family: $bodytext;
}


p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 5rem;

}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.menu-button {
    font-weight: bold;
    top: 1rem;
    left: 1rem;
    position: absolute;
    font-size: 1.8rem;
    z-index: 2;
    border: none;
    background-color: color(background-variation-1);
    color: color(background);
    padding: .5rem 1rem;
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;

    &::before {
        content: "";
        transition: 0.5s all ease;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: color(primary);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        transition: 0.3s transform ease-out;
        -webkit-transition: 0.3s transform ease-out;
    }

    &:hover,
    &:focus,
    &:active {
        color: color(background-variation-1);

        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

.button {
    display: inline-block;
    background-color: color(background-variation-1);
    color: color(text-light);
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
    font-size: 1.6rem;


    &::before {
        content: "";
        transition: 0.5s all ease;
        position: absolute;
        inset: 0;
        z-index: -1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        transition: 0.3s transform ease-out;
        -webkit-transition: 0.3s transform ease-out;
    }

    &.icon {
        display: inline-block;
        text-align: left;
        color: color(text-light);
        // margin: 0;
        margin-right: .2rem;


    }

    &.primary {

        &:hover,
        &:focus,
        &:active {
            color: color(text);

            &::before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

            .icon {


                color: text;


            }

        }

        &::before {

            background-color: color(background);

        }




    }

    &.secondary {

        &:hover,
        &:focus,
        &:active {
            color: color(text);

            &::before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }

        &::before {

            background-color: color(primary);

        }

    }

}