p,
h1,
h2,
a {
    font-family: var(--algemene-tekst);
}


p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-weight: bold;
    font-size: 5rem;

}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-size:  2rem;
}

.menu-button {
    font-weight: bold;
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 2;
    border: none;
    background-color: var(--donker-blauw);
    color: var(--grijs);
    padding: .5em 1em;
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;

    &::before {
        content: "";
        transition: 0.5s all ease;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--roze);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        /* Transform = transition-property: transform; */
        /* ease-out = transition-timing-function: ease-out */
        transition: 0.3s transform ease-out;
        -webkit-transition: 0.3s transform ease-out;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--donker-blauw);

        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}