@use "./helper/mixins" as *;

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
  color: var(--text);
}

h1 {
  font-size: 3rem;

  @include respond-to('from-md') {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2.5rem;

  @include respond-to('from-md') {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include respond-to('from-md') {
    font-size: 3rem;
  }
}

.h4,h4 {
  font-size: 1.8rem;
}

a {
  color: var(--text);

  &:hover, &:focus {
    color: var(--primary);
  }
}

.button,
button.button {
  align-items: center;
  border: .2rem solid var(--secondary);
  border-radius: .8rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: var(--font-body);
  font-size: 1.6rem;
  height: 4.8rem;
  justify-content: center;
  line-height: 2.4rem;
  max-width: 100%;
  padding: 0 2.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
  box-shadow: 11px 9px 0px 0px var(--background-dark);
  transition: all var(--transition);


  @include respond-to('from-md') {
    width: auto;
    padding: 0 4rem;
  }

  &:has(svg) {
    gap:1rem;

    svg use {
      fill: var(--secondary);
      transition: all var(--transition);
    }
  }

  &.primary {
    background: var(--primary);
    color: var(--text);
  }

  &.secondary {
    background: var(--background);
    box-shadow: 11px 9px 0px 0px var(--primary);

    &:hover, &:focus {
      box-shadow: 0 0 0 0 var(--primary);

      svg use {
        fill: var(--primary);
      }
    }
  }

  &.tertiary {
    background: var(--secondary);
    color: var(--text-light);
  border: .2rem solid var(--background-light);


    box-shadow: 11px 9px 0px 0px var(--primary);

    &:hover, &:focus {
      box-shadow: 0 0 0 0 var(--primary);
    }
  }

  &:hover, &:focus {
    box-shadow: 0 0 0 0 var(--background-dark);
  }
}

main ul,
main ol,
p {
  font-size: 1.6rem;
  line-height: 1.4;
}


.button-container {
  display: flex;
  gap: var(--gap-sm);
  margin-block: var(--gap-sm-md);
  flex-direction: column;

  @include respond-to('from-md') {
    flex-direction: row;
  }
}