:root {
    --primary: #e4a7a3;
    --primary-opaque: rgba(228, 167, 163, 0.3);
    --background: #eff4f5;
    --background-light: #fff;
    --secondary: #2e3553;
    --quaternary: #d2ebe1;
    --tertiary: #6f7de2;
    --background-variation-4:#fdcfcc;
    --background-thumbnail:#ecc4c4;
    --background-variation-4-low-opacity:#e4a7a3c9;
    --background-dark: #111;
    --text: #2e3553;
    --text-opaque: #2e35538c;
    --text-light: #eff4f5;
    --transition: 0.3s ease;
    --border: #c8c8c8;

    --overlay:#2e35537f;

    --gap-sm: 1.6rem;
    --gap-sm-md: 2rem;
    --gap-md:3rem;
    --gap-lg: 6rem;

    --radius-round: 50%;

/* lettertype */
--font-heading: 'highgate', sans-serif;
--font-body: 'interstate', sans-serif;

}