:root {
    /* Kleurpalette */
    $background-var-1: white;
    $text: #2e3553;
    $button: #2e3553;
    $background: #eff4f5;
    $accent: #6f7de2;
    $background-var-2: #e4a7a3;
    $background-var-3: #fdcfcc;
    --low-opacity-roze: #e4a7a3c9;

    /* lettertype */
    $headers: 'highgate', sans-serif;
    $bodytext: 'interstate', sans-serif;
}