* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Kleurpalette */
    --wit: white;
    --donker-blauw: #2e3553;
    --grijs: #eff4f5;
    --paars: #6f7de2;
    --roze: #e4a7a3;
    --licht-roze: #fdcfcc;
    --low-opacity-roze: #e4a7a3c9;

    /* lettertype */
    --headers: 'highgate', sans-serif;
    --algemene-tekst: 'interstate', sans-serif;
}








#github-page:has(#user-data:checked) #user {
    display: block;
}












































@media (min-width: 900px) {



    #over-mij section:nth-of-type(2) img {
        width: 80%;
        height: auto;
    }

   


}




