* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Kleurpalette */
    --wit: white;
    --donker-blauw: #2e3553;
    --grijs: #eff4f5;
    --paars: #6f7de2;
    --roze: #e4a7a3;
    --licht-roze: #fdcfcc;
    --low-opacity-roze: #e4a7a3c9;

    /* lettertype */
    --headers: 'highgate', sans-serif;
    --algemene-tekst: 'interstate', sans-serif;
}



body {
    font-family: var(--algemene-tekst);
    color: var(--donker-blauw);
    background-color: var(--grijs);
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
body::-webkit-scrollbar{
    background-color: var(--grijs);
   
}

body::-webkit-scrollbar-thumb{
    background-color: var(--donker-blauw);
}

#github-page:has(#user-data:checked) #user {
    display: block;
}

h1 {
    font-family: var(--algemene-tekst);
}

header h1 {
    font-size: clamp(2em, 10vw, 5em);
    text-align: center;
}

p {
    font-size: clamp(1em, 2vw, 1em)
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

footer {
    background-color: var(--donker-blauw);
    color: var(--grijs);
    padding: 1em;
    text-align: center;
    margin-top: 2em;
}

footer p {

    font-size: clamp(1em, 2vw, 1em);
    font-weight: bold;
}
/*****************/
/* NAVIGATIEMENU */
/*****************/
button[type="submit"] {
    font-weight: bold;
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 2;
    border: none;
    background-color: var(--donker-blauw);
    color: var(--grijs);
    padding: .5em 1em;
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* kleur schuift naar rechts */
button[type="submit"]::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--roze);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active {
    color: var(--donker-blauw);
}

button[type="submit"]:hover::before,
button[type="submit"]:focus::before,
button[type="submit"]:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav ul {
    position: absolute;
    z-index: 1;
    padding: 4em;
    width: 100%;
    height: 100%;
    top: 0;
    /* bottom: 0;
    left: 0;
    right: 0; */
    background-color: var(--roze);

    transform: translateY(-200%);
    transition: all ease 0.5s;
}


nav ul.show-menu {
    transform: translateY(0);

}

:has(nav ul.show-menu) body {
    overflow: hidden;
}


nav ul li:nth-child(n+2) {
    font-size: clamp(2em, 2vw, 3em);
    font-weight: bold;
    margin: .3em 0;

}

/*Kleur van de tekst glijdt naar rechts naar een ander kleur */
nav a {
    background-image: linear-gradient(to right,
            var(--grijs),
            var(--grijs) 50%,
            var(--donker-blauw) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease-in-out 0.3s;
    /* color: var(--donker-blauw); */
}

nav a:hover {
    background-position: 0;
}

/************/
/* HOMEPAGE */
/************/
#home-page main {
    display: grid;
    gap: 1em;

}

#home-page main>h2:nth-of-type(1) {
    padding: 2em;
    font-size: clamp(1.5em, 2vw, 6em);
}

#home-page section {
    margin: 2em 0;
}



#home-page main section:nth-of-type(1)h2 {
    justify-self: left;
    margin-left: 1em;
}

#home-page main input {
    appearance: none;
}

#home-page main label {
    background-color: var(--roze);
    color: var(--grijs);
    padding: .5em 1.5em;
    place-self: center;
}

#home-page section:nth-of-type(1) {

    padding: 3em;
    width: 100%;

    background-color: var(--roze);
}

#home-page section:nth-of-type(1) figure {
    margin: 1em 0;
}

#home-page section:nth-of-type(1) article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#home-page section:nth-of-type(1) article>img {
    width: 100%;
    border-radius: 1em;
}

#home-page section:nth-of-type(1) article div p:nth-child(1) {
    font-weight: bold;
    font-size: clamp(1em, 3vw, 5em);
    margin-bottom: .3em;
}

#home-page section:nth-of-type(1) article div p:nth-child(2) {
    font-weight: bold;
}

#home-page section:nth-of-type(1) article div p:nth-child(3) {
    margin-bottom: .5em;
}

#home-page section:nth-of-type(1) article div a {
    display: inline-block;
    background-color: var(--donker-blauw);
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* Shuift naar de rechterkant */
/* Link animatie voor de repo */
#home-page section:nth-of-type(1) article div a::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--grijs);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

#home-page section:nth-of-type(1) article div a:hover,
#home-page section:nth-of-type(1) article div a:focus,
#home-page section:nth-of-type(1) article div a:active {
    color: var(--donker-blauw);
}

#home-page section:nth-of-type(1) article div a:hover::before,
#home-page section:nth-of-type(1) article div a:focus::before,
#home-page section:nth-of-type(1) article div a:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#home-page section:nth-of-type(1) article div a img {
    width: 10%;
}


/*****************************/
/* RECENTE PROJECTEN SECTION */
/*****************************/

#home-page section:nth-of-type(2),
#home-page section:nth-of-type(3),
#home-page section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    position: relative;
    width: auto;
    height: auto;
    margin: 1em;
}

#home-page h2 {
    text-align: center;
}

#home-page section:nth-of-type(2) article,
#home-page section:nth-of-type(3) article,
#home-page section:nth-of-type(4) article {
    position: relative;
    background-color: rgb(236, 196, 196);
    width: 100%;
    height: fit-content;
    border-radius: 1em;
    box-shadow: 1px 1px 7px var(--donker-blauw);
}

#home-page section:nth-of-type(2) article img,
#home-page section:nth-of-type(3) article img,
#home-page section:nth-of-type(4) article img {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 1em;

}

.img-container {
    width: 100%;
    height: 100%;
}

#home-page section:nth-of-type(2) .thumbnail a,
#home-page section:nth-of-type(3) .thumbnail a,
#home-page section:nth-of-type(4) .thumbnail a {
    display: inline-block;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}


#home-page section:nth-of-type(2) h3,
#home-page section:nth-of-type(3) h3,
#home-page section:nth-of-type(4) h3 {
    position: absolute;
    bottom: 0;
    background-color: var(--donker-blauw);
    width: 100%;
    height: auto;
    color: var(--grijs);
    padding: .5em;
    border-radius: 0 0 .5em .5em;
}



#home-page section:nth-of-type(2) article .position-text,
#home-page section:nth-of-type(3) article .position-text,
#home-page section:nth-of-type(4) article .position-text {
    display: inline-block;
    position: absolute;
    padding: 1em;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--roze);
    border-radius: 1em;
}

#home-page section:nth-of-type(2) p,
#home-page section:nth-of-type(3) p,
#home-page section:nth-of-type(4) p {
    color: var(--donker-blauw);
    line-height: 1.5;
}

#home-page section:nth-of-type(2) article:hover .position-text,
#home-page section:nth-of-type(3) article:hover .position-text,
#home-page section:nth-of-type(4) article:hover .position-text {
    opacity: 1;
}
#home-page section:nth-of-type(2) article:focus-within .position-text,
#home-page section:nth-of-type(3) article:focus-within .position-text,
#home-page section:nth-of-type(4) article:focus-within .position-text {
    opacity: 1;
}

#home-page .link-project {
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 1em auto;

}

#home-page .link-project a {
    /* align-self: flex-end; */
    justify-self: end;
}

#home-page .link-project a {
    display: inline-block;
    background-color: var(--donker-blauw);
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* Shuift naar de rechterkant */
/* Link animatie voor de repo */
#home-page .link-project a::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--roze);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

#home-page .link-project a:hover,
#home-page .link-project a:focus,
#home-page .link-project a:active {
    color: var(--donker-blauw);
}

#home-page .link-project a:hover::before,
#home-page .link-project a:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* #home-page section:nth-of-type(1) article div a img {
    width: 10%;
} */
/***************/
/* GITHUB PAGE */
/***************/

/* Bron voor de effect: https: //css-tricks.com/css-link-hover-effects/ */
/*******************/
/* USER COMNTAINER in Github pages */
/*******************/
#github-page main {
    display: grid;
    place-items: center;
}

#github-page main>h2 {
    justify-self: left;
    margin-left: 1em;
}

#github-page main input {
    appearance: none;
}

#github-page main label {
    background-color: var(--roze);
    color: var(--grijs);
    padding: .5em 1.5em;
}

#github-page section:nth-of-type(1) {

    padding: 3em;
    width: 100%;
    display: none;
    background-color: var(--roze);
}

#github-page section:nth-of-type(1) figure {
    margin-top: 1em;
}

#github-page section:nth-of-type(1) article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#github-page section:nth-of-type(1) article>img {
    width: 100%;
    border-radius: 1em;
}

#github-page section:nth-of-type(1) article div p:nth-child(1) {
    font-weight: bold;
    font-size: clamp(1em, 3vw, 5em);
    margin-bottom: .3em;
}

#github-page section:nth-of-type(1) article div p:nth-child(2) {
    font-weight: bold;
}

#github-page section:nth-of-type(1) article div p:nth-child(3) {
    margin-bottom: .5em;
}

#github-page section:nth-of-type(1) article div a {
    display: inline-block;
    background-color: var(--donker-blauw);
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* Shuift naar de rechterkant */
/* Link animatie voor de repo */
#github-page section:nth-of-type(1) article div a::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--grijs);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

#github-page section:nth-of-type(1) article div a:hover,
#github-page section:nth-of-type(1) article div a:focus,
#github-page section:nth-of-type(1) article div a:active {
    color: var(--donker-blauw);
}

#github-page section:nth-of-type(1) article div a:hover::before,
#github-page section:nth-of-type(1) article div a:focus::before,
#github-page section:nth-of-type(1) article div a:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#github-page section:nth-of-type(1) article div a img {
    width: 10%;
}




/*******************/
/* REPOSITORY-LIST */
/*******************/
#github-page section:nth-of-type(2) {
    display: grid;

    grid-template-columns: 1fr;
    margin: 1em;
    gap: 1em;
}

#github-page section:nth-of-type(2) article {
    position: relative;
    width: 100%;
    height: 25em;
    --donker-blauw: #2e35537b;
    background-color: var(--wit);
    border-radius: .5em;
    box-shadow: 1px 1px 5px var(--donker-blauw);
    padding: 2em;
}

#github-page section:nth-of-type(2) article h1 {
    /* color: var(--roze); */
    font-size: clamp(1.5em, 3vw, 5em);
    margin-bottom: .3em;
}

#github-page section:nth-of-type(2) article ul {
    display: flex;
    gap: .5em;
    position: absolute;
    /* left: 6em; */
    bottom: 2em;
}

/* Shuift naar de rechterkant */
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2) {
    --donker-blauw: #2e3553;
    background-color: var(--donker-blauw);
    position: relative;
    padding: .5em 1.5em;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}


/* Link animatie voor de repo */
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2)::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--roze);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):hover,
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):focus,
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):active {
    color: var(--donker-blauw);
}

#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):hover::before,
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):focus::before,
#github-page section:nth-of-type(2) article ul li:nth-of-type(n+2):active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#github-page section:nth-of-type(2) article ul a {
    color: var(--wit);
}



#github-page section:nth-of-type(2) article h1::first-letter {
    text-transform: uppercase;
}


/* bRON: https: //github.com/IanLunn/Hover */
/* https: //ianlunn.github.io/Hover/ */
/***********************/
/* LANGUAGE cOLOR CODE */
/***********************/
/* CSS */
.blue {
    padding: .5em 1.5em;
    background-color: #A5EDF1;
}

/* HTML */
.red {
    padding: .5em 1.5em;
    background-color: #FD8FAF;
}

/* Javascript */
.yellow {
    padding: .5em;
    background-color: #F9F99F;
}



/****************/
/* PROJECT PAGE */
/****************/
#project-page main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10em;
    /* overflow-x: hidden; */
    scroll-snap-type: y mandatory;
}

#project-page main div {
    scroll-snap-align: center;

}

#project-page h1 {
    font-size: 4em;
}

#project-page h2 {
    font-size: 2em;
}


#project-page section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--roze);
    padding: 3em;
}

#project-page section:nth-of-type(1) article {
    place-self: center;
}

#project-page section:nth-of-type(1) img {
    width: 100%;
}

#project-page section:nth-of-type(1) img {
    width: 100%;
}
/* De opdracht onderdeel */
#project-page section:nth-of-type(2) {
    background-color: white;
    grid-template-columns: 2fr 1fr;
    padding: 1em;
    margin: 1em;
    height: fit-content;

    gap: 3em;

    align-items: center;
}


#project-page section:nth-of-type(2) p {

    line-height: 1.7;
}

#project-page section:nth-of-type(2) p span {
    display: block;
    margin: .8em 0;
}

#project-page section:nth-of-type(2) article {
    display: grid;
    place-self: top;

}


#project-page section:nth-of-type(2) img {
    width: 80% !important;
}



.project-info {
    display: flex;
    gap: 2em;
}

.project-info a {
    /* align-self: flex-end; */
    margin: 1em 0;
    justify-self: end;
}

.project-info a {
    display: inline-block;
    background-color: var(--donker-blauw);
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* Shuift naar de rechterkant */
/* Link animatie voor de repo */
.project-info a::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--roze);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

.project-info a:hover,
.project-info a:focus,
.project-info a:active {
    color: var(--donker-blauw);
}

.project-info a:hover::before,
.project-info a:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Voor grotere schermen */
/* De skills onder projecte */
.skills {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.skills li {
    
    font-weight: bold;
}


/*******************/
/* OVER MIJ PAGINA */
/*******************/
#over-mij p {
    font-size: 1.2em;
    line-height: 1.7;
}


#over-mij main section:nth-of-type(n+2) {
    margin: 1em;
    display: grid;
    padding: 2em;
}

#over-mij main section:nth-of-type(n+2) article figure {
    /* margin: 1em; */
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

#over-mij main section:nth-of-type(n+2) article ul {
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
    gap: 1em;
}

#over-mij main section:nth-of-type(n+2) article li {
    background-color: var(--donker-blauw);
    color: white;
    align-self: center;
    padding: 1em 1.5em;
    width: 15em;
}

/* #over-mij main section:nth-of-type(n+2) article img {
    width: 30%;
    max-width: 50%;
} */

#over-mij section:nth-of-type(1) {
    padding: 3em;
    width: 100%;
    background-color: var(--roze);
}

#over-mij section:nth-of-type(1) img {
    width: 100%;
    height: auto;
}

#over-mij main section:nth-of-type(1) h2 {
    font-size: clamp(1.5em, 5vw, 6em);
}

#over-mij main section:nth-of-type(1) p {
    font-size: clamp(1em, 2vw, 2em);
}

#over-mij main section:nth-of-type(n+2) h2 {
    font-size: clamp(3em, 5vw, 3em);
    padding: 2em 0;
}



#over-mij section:nth-of-type(2) a {
    display: block;
    margin-top: 1em;
    background-color: var(--donker-blauw);
    color: white;
    padding: 1em 1.5em;
    width: fit-content;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition: color 0.3s;
}

/* Shuift naar de rechterkant */
/* Link animatie voor de repo */
#over-mij section:nth-of-type(2) a::before {
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: var(--roze);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    /* Transform = transition-property: transform; */
    /* ease-out = transition-timing-function: ease-out */
    transition: 0.3s transform ease-out;
    -webkit-transition: 0.3s transform ease-out;
}

#over-mij section:nth-of-type(2) a:hover,
#over-mij section:nth-of-type(2) a:focus,
#over-mij section:nth-of-type(2) a:active {
    color: var(--donker-blauw);
}

#over-mij section:nth-of-type(2) a:hover::before,
#over-mij section:nth-of-type(2) a:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#over-mij section:nth-of-type(4) article figure img {
    width: 50%;
}

#over-mij section:nth-of-type(5) article img {
    width: 50px;
    height: 50px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
#over-mij section:nth-of-type(5) {
    place-items: center;
}

#over-mij section:nth-of-type(5) article {
    display: flex;
    flex-direction: column;
    background-color: var(--roze);
    justify-content: center;
    align-items: center;
    color: var(--donker-blauw);
    font-weight: bold;
    padding: 1em;
    gap:.5em;
    border-radius: .5em;
    transition: .3s ease-in-out;
}

#over-mij section:nth-of-type(5) article:hover {
    /* background-color: var(--licht-roze); */
    animation: zoom-in-out .5s ease-in-out infinite alternate both;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

#over-mij section:nth-of-type(5) article a {
    color: var(--donker-blauw);
    font-weight: bold;
    text-decoration: none;
}
/* .contact-container article {
    display: flex;
    flex-direction: column;
} */

@media (min-width: 45em) {

    #github-page section:nth-of-type(1) article,
    #home-page section:nth-of-type(1) article {

        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;

    }

    #github-page section:nth-of-type(1) article>img,
    #home-page section:nth-of-type(1) article>img {
        width: 30%;
        border-radius: 1em;
    }

    #home-page section:nth-of-type(1) article>img {
        width: 20%;
    }

    #home-page section:nth-of-type(2) article,
    #home-page section:nth-of-type(3) article,
    #home-page section:nth-of-type(4) article {
        max-width: 22em;
        height: 15em;
    }

    #home-page section:nth-of-type(2) article img,
    #home-page section:nth-of-type(3) article img,
    #home-page section:nth-of-type(4) article img {

        width: inherit;
        height: 15em;
    }

    #home-page section:nth-of-type(2),
    #home-page section:nth-of-type(3),
    #home-page section:nth-of-type(4) {

        flex-direction: row;


    }


    #project-page section:nth-of-type(1) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 80vh;
        width: 100%;
        background-color: var(--roze);
    }

    #project-page section:nth-of-type(1) article {
        place-self: center;

    }

    #project-page section:nth-of-type(1) img {
        max-width: 78%;
    }
  #project-page section:nth-of-type(1) img[src="https://k3a101.github.io/Minor-portfolio/images/visie-china.png"] {
              max-width: 58%;
          }
        
    /* De opdracht onderdeel */
    #project-page section:nth-of-type(2) {
        display: grid;
        background-color: white;
        grid-template-columns: 2fr 1fr;

        margin: 0 auto;
        height: fit-content;
        gap: 3em;
        width: 80%;
        align-items: center;
    }

    #project-page section:nth-of-type(2) article {
        max-width: 80%;
    }

    #project-page section:nth-of-type(2) img {
        width: 80%;
    }


    /* Een overlay effect bij de navigatiemenu */
    body nav ul {
        background-color: transparent;
        background-image:
            linear-gradient(180deg,
                var(--roze) 0 70%,
                rgba(0, 0, 0, 0.499) 50%);
    }

    #over-mij section:nth-of-type(5) article {
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        /* display: flex; */
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    #github-page section:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
    }

    #github-pagesection:nth-of-type(2) article {
        max-width: 40vw;
    }

    #over-mij main section:nth-of-type(1) {
        display: flex;
        align-items: center;

        width: 100%;
        background-color: var(--roze);
    }

    #over-mij section:nth-of-type(1) img {
        width: 30%;
        height: auto;
    }

    #over-mij main section:nth-of-type(n+2) {
        display: grid;
        place-items: center;
    }

    #over-mij main section:nth-of-type(2) article,
    #over-mij main section:nth-of-type(3) article,
    #over-mij main section:nth-of-type(4) article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* align-items: center; */
    }

    #over-mij section:nth-of-type(2) img {
        width: 80%;
        height: auto;
    }

    #over-mij main section:nth-of-type(n+2) article p {
        width: 30em;
        padding: 1em;
    }

    #over-mij section:nth-of-type(5) article {
        display: flex;
        flex-direction: column;
    }

}




@media (min-width: 1000px) {
    #github-page section:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 80%;
    }

    #github-pagesection:nth-of-type(2) article {
        max-width: 40vw;
    }
}